firmware/build
firmware/sdkconfig
firmware/sdkconfig.old
pcb/_autosave*
pcb/*.kicad_sche
pcb/FeederController-backups/
pcb/Outputs/*.gb*
pcb/Outputs/*.drl
.clang_complete
.gcc-flags.json
.vscode
*.code-workspace
